<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Cadena de conexión para Oracle -->
		<add name="OracleConnectionString"
			 connectionString="User Id=myOracleUsername;Password=myOraclePassword;Data Source=myOracleDB;"
			 providerName="Oracle.ManagedDataAccess.Client" />

		<!-- Cadena de conexión para SQL Server -->
		<add name="SqlServerConnectionString"
			 connectionString="Server=mySqlServer;Database=mySqlDatabase;User Id=mySqlUsername;Password=mySqlPassword;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
